body {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: left;
    margin-top: 20px;
}

.centered,
.button-container {
    text-align: center;
}

.top-picks,
.all-kitchens,
.contact-us,
.copyright {
    text-align: left;
    color: #000;
}

.top-picks,
.all-kitchens,
.contact-us {
    font-size: 20px;
}

.slogan {
    text-align: center; /* Center the slogan */
    font-size: 18px;
    color: #000;
    margin-top: 0;
}

.logo {
    width: 200px;
    height: auto;
    margin: 0 auto;
}

.food-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
}

.food-image,
.kitchen-image {
    width: 150px;
    height: auto;
    border-radius: 4%;
    transition: filter 0.3s ease;
}

.kitchen-image {
    width: 320px;
    margin-bottom: 20px;
}

.food-item,
.kitchen-container {
    text-align: center;
    margin-bottom: 20px;
}

.food-image:hover,
.kitchen-image:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.rating {
    display: block;
    margin-top: -10px;
    font-size: 14px;
    color: #000;
    text-align: center; /* Center the rating */
}

.top-right-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.signup-button,
.login-button,
.submit-button {
    margin-left: 10px;
    padding: 6px 12px;
    font-size: 14px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-button,
.submit-button {
    color: #000;
    background-color: #fff;
}

    .signup-button:hover,
    .submit-button:hover {
        background-color: #c4c4c4;
    }

.login-button {
    color: white;
    background-color: #007bff;
}

    .login-button:hover {
        background-color: #0056b3;
    }

.contact-info {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.input-container {
    margin-bottom: 15px;
    width: 99%;
}

    .input-container input[type="text"],
    .input-container input[type="email"],
    .input-container textarea,
    .feedback-select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        color: #666;
        background-color: #f8f8f8;
    }

        .input-container input[type="text"]:focus,
        .input-container input[type="email"]:focus,
        .input-container textarea:focus,
        .feedback-select:focus {
            background-color: #fff;
        }

.grey-line {
    width: 40%;
    border: 1px solid #ccc;
    margin: 50px auto 0;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #808080;
}
